.orders {
   .orders_nav {
      text-align: center;

      .search_block {
         position: relative;
         display: block;
         width: 269px;
         height: 35px;
         float: left;
         margin-bottom: 15px;

         input {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 35px;
            padding: 5px 10px;
            border: 1px solid $grey;
         }
         .btn-search {
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
            height: 35px;
            cursor: pointer;
            text-align: center;
            border: 1px solid $mainColor;
            font-weight: bold;
            color: $grey;
            background: linear-gradient(to top, $green, $lightGreen);

            &:hover,
            &:focus {
               -webkit-box-shadow: inset 0 0 10px $grey;
               -moz-box-shadow: inset 0 0 10px $grey;
               box-shadow: inset 0 0 10px $grey;
               background: linear-gradient(to top, $blue, #FFF);
            }
         }
      }
      .btn_nav {
         display: inline-block;
         margin-bottom: 15px;

         .btn-custom {
            padding: 5px 10px;
            margin-left: -3px;
            margin-right: -3px;
            font-size: 14px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            &:hover,
            &:focus {
               -webkit-box-shadow: inset 0 0 10px $grey;
               -moz-box-shadow: inset 0 0 10px $grey;
               box-shadow: inset 0 0 10px $grey;
               background: linear-gradient(to top, $blue, #FFF);
            }
         }
      }
      .date_nav {
         display: inline-block;
         float: right;
         //height: 36px;
         margin-bottom: 15px;
         border: 1px solid $mainColor;

         .first_date {
            display: inline-block;
            width: 110px;
            height: 35px;
            background: linear-gradient(to top, $green, $lightGreen);
            color: $mainColor;
            font-weight: bold;
            padding: 5px;
            margin-right: -5px;
            border: none;
            text-align: center;
         }
         .last_date {
            display: inline-block;
            width: 110px;
            height: 35px;
            background-color: #FFF;
            color: $mainColor;
            font-weight: bold;
            padding: 5px;
            border: none;
            text-align: center;
         }
      }
   }
   table#table_orders {
      th:first-child,
      td:first-child {
         padding: 5px;
         width: 50px;
         text-align: center;
      }
      th.sort_date {
         width: 100px;
      }
      th.sort_status {
         width: 140px;
      }
   }
   .orders_number {
      float: right;
      margin: 25px 0;
      padding: 5px 20px;
      border: 1px solid #000;
      font-weight: bold;
      color: $mainColor;
      background: linear-gradient(to top, $green, $lightGreen);
      cursor: pointer;

      .icon-orders-number {
         position: relative;
         top: 1px;
         margin-left: 5px;
      }
   }
}