$bgBody: #F0F0F0;
$mainColor: #393939;
$lightGrey: #D7D7D7;
$grey: #4d4d4d;
$darkGrey: #1a1a1a;
$green: #7CCE6C;
$lightGreen: #d9fcd3;
$darkGreen: #61A054;
$blue: #7FD0FF;
$lightBlue: #B8E5FF;
$darkBlue: #2BA2E7;
$red: #FE4D44;
$lightRed: #FED8D6;