@font-face {
   font-family: "Stolzl-Regular";
   src: url("../fonts/stolzl-regular.otf");
}

@font-face {
   font-family: "Stolzl";
   src: url("../fonts/stolzl.otf");
}

@font-face {
   font-family: "Stolzl-Light";
   src: url("../fonts/stolzl-light.otf");
}