.modal_window_bg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   background-color: rgba(0, 0, 0, .7);
   display: none;
   overflow: auto;

   .modal_window {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: auto;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: $mainColor;
      background-color: $bgBody;
      border: 2px solid $darkGrey;
      padding: 30px 15px;
      text-align: center;
      -webkit-box-shadow: 0 0 10px $lightGreen;
      -moz-box-shadow: 0 0 10px $lightGreen;
      box-shadow: 0 0 10px $lightGreen;

      .buttons_modal_block {
         margin-top: 30px;
         margin-bottom: 15px;

         .btn-modal-confirm {
            @extend .btn-custom;
            margin: 0 10px;
         }
         .btn-modal-cancel {
            @extend .btn-custom;
            background: linear-gradient(to top, $red, $lightRed);
         }
      }

      // добавить тариф
      h4 {
         margin-bottom: 30px;
      }
      .tariff_block {
         text-align: left;
         margin: 10px 20px;

         span {
            display: inline-block;
            width: 170px;
            font-weight: 600;
         }
         label {
            margin: 0;
         }
         .modal_inp {
            width: 150px;
            height: 35px;
            border: 1px solid $lightGrey;
            padding: 0 5px;
         }
      }
   }
}