li.ui-state-default { // зеленый
   color: $mainColor;
   background-color: $lightGreen;
   border: 1px solid $green;
}

li.ui-state-highlight { // красный
   color: $mainColor;
   background-color: $lightRed;
   border: 1px solid $red;
}

li.ui-state-disabled { // деактивирован
   display: none !important;
}

.connectedSortable {
   display: inline-block;
   border: 1px solid $lightGrey;
   background-color: #FFF;
   width: 100%;
   height: 500px;
   list-style-type: none;
   padding: 0;
   margin: 0;
   vertical-align: top;
   overflow: auto;

   li {
      width: 160px;
      min-height: 32px;
      line-height: 20px;
      float: left;
      cursor: move;
      margin: 5px;
      padding: 5px;
      font-size: 14px;
   }
}