.main_page {
   h4 {
      font-weight: bold;
   }
   .btnNav {
      width: 800px;
      display: flex;
      justify-content: center;
      margin: 20px 0;

      .btn-custom {
         padding: 5px 10px;
         margin-right: -1px;
         font-size: 14px;
         -webkit-box-shadow: none;
         -moz-box-shadow: none;
         box-shadow: none;

         &:hover,
         &:focus {
            -webkit-box-shadow: inset 0 0 10px $grey;
            -moz-box-shadow: inset 0 0 10px $grey;
            box-shadow: inset 0 0 10px $grey;
            background: linear-gradient(to top, $blue, #FFF);
         }
      }
   }
   .dateNav {
      width: 800px;
      padding: 5px 10px;
      border: 1px solid $lightGrey;
      font-family: "Stolzl", sans-serif;
      background: linear-gradient(to top, $lightGrey, #FFF);

      &__name {
         display: inline-block;
         font-weight: 600;
      }
      &__input {
         width: 100px;
         height: 30px;
         padding: 5px;
         border: 1px solid $lightGrey;
         margin-left: 5px;
         margin-right: 10px;
         text-align: center;
      }
      .btn-custom {
         float: right;
         height: 30px;
         padding: 3px 10px;
         font-size: 14px;
      }
   }
   #js-bar_block {
      width: 800px;
      background-color: #fff;
      border: 1px solid $lightGrey;
      padding: 30px 15px;
      margin-top: -1px;
      margin-bottom: 30px;
   }
   #js-warning {
      font-weight: 600;
      margin-top: 20px;

      .errorMsg {
         display: flex;
         align-items: center;
         margin: 15px 0;

         &:before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url("../images/check_warn.png") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
         }
         &__message,
         &__name,
         &__date {
            display: inline-block;
            margin-left: 20px;
         }
      }
   }
   .list_notices {
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      color: $darkGreen;
      text-decoration: underline;
      margin-top: 10px;
   }
}