table.tablesorter {
   width: 100%;
   margin: 25px 0;
   text-align: left;

   thead tr th {
      position: relative;
      background: linear-gradient(to top, $lightGrey, #FFF);
      border: 1px solid $lightGrey;
      font-family: "Stolzl-Regular", sans-serif;
      font-weight: bold;
      padding: 10px 25px 10px 10px;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
         background: linear-gradient(to top, $lightBlue, #FFF) !important;
      }
   }
   thead tr th .arrow_sort {
      background-image: url(../images/arrow_double.png);
      display: inline-block;
      width: 15px;
      height: 21px;
      position: absolute;
      top: 12px;
      right: 5px;
   }
   thead tr th .arrow_up {
      background-image: url(../images/arrow_up.png);
      display: inline-block;
      width: 15px;
      height: 9px;
      position: absolute;
      top: 18px;
      right: 5px;
   }
   thead tr th .arrow_down {
      background-image: url(../images/arrow_down.png);
      display: inline-block;
      width: 15px;
      height: 9px;
      position: absolute;
      top: 18px;
      right: 5px;
   }
   tbody tr:hover td {
      background-color: $lightGreen;
      cursor: pointer;
   }
   tbody tr td {
      height: 41px;
      padding: 5px;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid $lightGrey;

      a:hover {
         color: $mainColor;
      }
   }
   tbody tr td.nothing_found {
      text-align: center;
      color: $red;
      font-weight: 600;
   }
}