<div id="sidebar-wrapper">
   <div class="admin_text" id="js-close_sidebar">Admin Panel</div>
   <!-- Menu TABS -->
   <ul class="sidebar-tabs-header">
      <li>
         <a href="index.html" class="li_active" data-active="tab">Основные</a>
      </li>
      <li>
         <a href="companies.html" class="li_active" data-active="tab">Транспорт</a>
      </li>
      <li>
         <a href="clients.html" class="li_active" data-active="tab">Клиент</a>
      </li>
      <li>
         <a href="orders.html" class="li_active" data-active="tab">Заказы</a>
      </li>
      <li>
         <a href="documents.html" class="li_active" data-active="tab">Документы</a>
      </li>
      <li>
         <a href="discounts.html" class="li_active" data-active="tab">Скидки</a>
      </li>
      <li>
         <a href="transfers.html" class="li_active" data-active="tab">Переводы</a>
      </li>
      <li>
         <a href="settings.html" class="li_active" data-active="tab">Настройки</a>
      </li>
      <li>
         <a href="notices.html" class="li_active" data-active="tab">Уведомления</a>
      </li>
      <!-- <li>
         <a href="test.html" class="li_active" data-active="tab">Test</a>
      </li> -->
   </ul>
</div>