<div class="header_nav">
   <div id="js-open_menu"><i class="fas fa-bars fa-sm"></i></div>
   <div class="user_block">
      <span class="user" id="user">
         <i class="fas fa-user fa-lg icon-user"></i>
         <span class="user_profile"></span>
         <i class="fas fa-chevron-down icon-profile"></i>
      </span>

      <!-- Выпадающий список -->
      <ul class="user_list">
         <li>
            <div class="btn-logout">
               <i class="fas fa-sign-out-alt icon-logout"></i>
               Выход
            </div>
         </li>
      </ul>
   </div>
</div>