<div id="sidebar-wrapper">
   <div class="admin_text" id="js-close_sidebar">
      Admin Panel
   </div>
   <!-- Menu TABS -->
   <ul class="sidebar-tabs-header">
      <li>
         <a href="index.html" data-id="0" data-active="tab">Основные</a>
      </li>
      <li>
         <a href="companies.html" data-id="1" data-active="tab">Транспорт</a>
      </li>
      <li>
         <a href="clients.html" data-id="2" data-active="tab">Клиент</a>
      </li>
      <li>
         <a href="orders.html" data-id="3" data-active="tab">Заказы</a>
      </li>
      <li>
         <a href="documents.html" data-id="4" data-active="tab">Документы</a>
      </li>
      <li>
         <a href="discounts.html" data-id="5" data-active="tab">Скидки</a>
      </li>
      <li>
         <a href="transfers.html" data-id="6" data-active="tab">Переводы</a>
      </li>
      <li>
         <a href="settings.html" data-id="7" data-active="tab">Настройки</a>
      </li>
      <li>
         <a href="notices.html" data-id="8" data-active="tab">Уведомления</a>
      </li>
      <!--<li>
         <a href="widjet.html">Виджет</a>
      </li>-->
   </ul>
</div>