.discount_statistics {
   #btn_back_discounts_statistics {
      display: block;
      margin-bottom: 25px;
      padding: 5px 15px;

      .icon_back_discounts_statistics {
         margin-right: 10px;
      }
   }
   .discounts_info {
      display: inline-block;
      margin-bottom: 30px;
      margin-right: 80px;
      vertical-align: top;

      #reset_filter {
         padding: 5px 15px;
      }
      .discount_settings {
         margin: 20px 0;

         h4 {
            display: inline-block;
            font-weight: 600;
            margin-right: 34px;
         }
         #btn_reset_filter,
         #btn_use_filter {
            padding: 5px 10px;
         }
      }
      .discount_block {
         margin: 10px 0;

         & > span {
            display: inline-block;
            width: 180px;
            font-weight: 600;
            line-height: 35px;
            vertical-align: top;
         }
         #discount_name,
         #discount_promo_code,
         ol#discount_location,
         ol#discount_company {
            list-style-position: inside;
            width: 350px;
            height: 130px;
            padding: 5px 12px;
            margin: 0;
            border: 1px solid $lightGrey;
            background-color: #FFF;
            display: inline-block;
            overflow-y: auto;
         }
         .period_date {
            float: right;
            margin-right: 5px;
         }
         .datepicker {
            width: 100px;
            height: 35px;
            padding: 0;
            text-align: center;
            border: 1px solid $lightGrey;
            background-color: #FFF;
         }
         .icon_add {
            margin-left: 10px;
            margin-top: 10px;
            cursor: pointer;
            vertical-align: top;

            &:hover {
               color: $green;
            }
         }
      }
   }
   .discounts_chart {
      display: inline-block;
      min-width: 800px;
      vertical-align: top;

      .buttons_block_diagram {
         text-align: center;
         margin: 20px 0;

         .btn-custom {
            padding: 5px 10px;
            margin-left: -3px;
            margin-right: -3px;
            font-size: 14px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            &:hover,
            &:focus {
               -webkit-box-shadow: inset 0 0 10px $grey;
               -moz-box-shadow: inset 0 0 10px $grey;
               box-shadow: inset 0 0 10px $grey;
               background: linear-gradient(to top, $blue, #FFF);
            }
         }
      }
      .discounts_chart_block {
         background-color: #FFF;
         border: 1px solid $lightGrey;
         padding: 15px;
         margin-top: 15px;
         margin-bottom: 30px;

         #discounts_statistics_month,
         #discounts_statistics_week,
         #discounts_statistics_day {
            display: none;
            width: 100%;
         }
      }
   }
   .buttons_block_filter {
      clear: both;
      text-align: center;

      .btn-custom {
         margin: 0 10px;
      }
   }
   .modal_window_bg {
      .modal_window_discount {
         position: absolute;
         top: 5%;
         left: 50%;
         width: 1180px;
         height: auto;
         -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
         transform: translateX(-50%);
         color: $mainColor;
         background-color: $bgBody;
         border: 2px solid $darkGrey;
         padding: 20px;
         -webkit-box-shadow: 0 0 10px $lightGreen;
         -moz-box-shadow: 0 0 10px $lightGreen;
         box-shadow: 0 0 10px $lightGreen;

         h4 {
            text-align: center;
            margin-bottom: 30px;
         }

         .search_block_nav {
            min-height: 35px;
            margin: 17px;

            .search_block {
               position: relative;
               display: block;
               width: 369px;
               height: 35px;
               float: left;

               input {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 300px;
                  height: 35px;
                  padding: 5px 10px;
                  border: 1px solid $grey;
               }
               .btn-search {
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 70px;
                  height: 35px;
                  cursor: pointer;
                  text-align: center;
                  border: 1px solid $mainColor;
                  font-weight: bold;
                  color: $grey;
                  background: linear-gradient(to top, $green, $lightGreen);

                  &:hover,
                  &:focus {
                     -webkit-box-shadow: inset 0 0 10px $grey;
                     -moz-box-shadow: inset 0 0 10px $grey;
                     box-shadow: inset 0 0 10px $grey;
                     background: linear-gradient(to top, $blue, #FFF);
                  }
               }
            }
         }
         .discount_name_list,
         .promo_list,
         .location_list,
         .company_list {
            clear: both;
            text-align: center;

            .discount_name_list_true,
            .discount_name_list_false,
            .promo_list_true,
            .promo_list_false,
            .location_list_true,
            .location_list_false,
            .company_list_true,
            .company_list_false {
               display: inline-block;
               width: 540px;
               margin: 10px;

               h5 {
                  position: relative;
                  text-align: center;
                  background: linear-gradient(to top, $lightGrey, #FFF);
                  border: 1px solid $lightGrey;
                  padding: 10px;
                  margin: 0;

                  .btn-custom {
                     position: absolute;
                     top: 10px;
                     right: 5px;
                     font-size: 14px;
                     width: 125px;
                     padding: 5px;
                     -webkit-box-shadow: 0 0 2px $grey;
                     -moz-box-shadow: 0 0 2px $grey;
                     box-shadow: 0 0 2px $grey;
                  }
               }
            }
         }

         .buttons_modal_block {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 15px;

            .btn-modal-confirm {
               margin: 0 10px;
            }
            .btn-modal-cancel {
               background: linear-gradient(to top, $red, $lightRed);

               &:hover,
               &:focus {
                  -webkit-box-shadow: inset 0 0 10px $grey;
                  -moz-box-shadow: inset 0 0 10px $grey;
                  box-shadow: inset 0 0 10px $grey;
                  background: linear-gradient(to top, $blue, #FFF);
               }
            }
         }
      }
   }
}