.autocomplete-suggestions {
   width: auto !important;
   border: 1px solid $lightGrey;
   background: #FFF;
   cursor: pointer;
   overflow: auto;
   -webkit-box-shadow: 2px 2px 5px $grey;
   -moz-box-shadow: 2px 2px 5px $grey;
   box-shadow: 2px 2px 5px $grey;
}

.autocomplete-suggestion {
   padding: 2px 5px;
   white-space: nowrap;
   overflow: hidden;
}

.autocomplete-no-suggestion {
   padding: 2px 5px;
}

.autocomplete-selected {
   background: $lightBlue;
}

.autocomplete-suggestions strong {
   font-family: "Stolzl-Regular", sans-serif;
   font-weight: bold;
   color: $mainColor;
}

.autocomplete-group {
   padding: 2px 5px;
   font-weight: bold;
   font-size: 16px;
   color: $mainColor;
   display: block;
   border-bottom: 1px solid $mainColor;
}