.notices {
   .notices_filter {
      display: inline-block;
      padding: 5px 0;
      font-weight: 600;
      color: $mainColor;
      border: 1px solid $grey;
      background: linear-gradient(to top, $green, $lightGreen);

      .filter_block {
         display: inline-block;
         padding-right: 15px;
         padding-left: 10px;
         border-right: 1px solid #4d4d4d;

         span {
            line-height: 35px;
         }

         &:last-child {
            border-right: none;
         }
         .search_block {
            position: relative;
            display: block;
            width: 250px;
            height: 35px;
            float: right;
            margin-left: 20px;

            input {
               position: absolute;
               top: 0;
               left: 0;
               width: 250px;
               height: 35px;
               padding: 5px 35px 5px 10px;
               border: 1px solid $grey;
            }
            .icon-search-notices {
               position: absolute;
               top: 11px;
               right: 10px;
               cursor: pointer;
               color: $grey;

               &:hover,
               &:focus {
                  color: $darkGreen;
               }
            }
         }
         label {
            position: relative;
            top: -2px;
            margin-left: 20px;
            margin-bottom: 0;
         }
      }
   }
   table#table_notices {
      tbody {
         td:first-child {
            text-align: center;
            width: 50px;
         }
         td:nth-child(3) {
            width: 400px;
         }
         .message {
            //height: 50px;
            //overflow: hidden;
         }
      }
   }
   #modal_window_error {
      .modal_window {
         width: 600px;
         padding: 20px;

         .error_block {
            text-align: left;
            margin: 10px 0;

            span:first-child {
               display: inline-block;
               width: 260px;
               min-height: 35px;
               line-height: 20px;
               font-weight: 600;
               vertical-align: top;
            }
            span:last-child {
               display: inline-block;
               width: 280px;
               min-height: 35px;
               padding: 5px 10px;
               margin: 0;
               border: 1px solid $lightGrey;
               background-color: #FFF;
            }
         }
      }
   }
}