.orders_screen {
   .warning_block {
      .warning_window_true,
      .warning_window_false {
         position: fixed;
         left: 60%;
         -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
         transform: translateX(-50%);
         background-color: $green;
         padding: 10px 30px;
         margin-bottom: 25px;
         font-weight: 600;
         font-size: 16px;
         -webkit-box-shadow: 2px 2px 5px $grey;
         -moz-box-shadow: 2px 2px 5px $grey;
         box-shadow: 2px 2px 5px $grey;
         display: none;
         z-index: 999;
      }
      .warning_window_false {
         background-color: $red;
      }
   }
   #btn-back-list-orders {
      margin-bottom: 25px;
      padding: 5px 15px;
      display: block;

      .icon-back-list-orders {
         margin-right: 10px;
      }
   }
   .order_num {
      font-weight: 600;
      font-size: 22px;
      margin: 20px 0;

      #order_num {
         display: inline-block;
         margin: 0 5px;
         color: $darkGreen;
      }
      #order_date {
         display: inline-block;
         margin: 0 5px;
      }
   }
   .table_cargo_from {
      margin-bottom: 30px;

      .cargo_from,
      .cargo_to {
         display: inline-block;
         width: 320px;
         padding: 20px 0;
         font-size: 20px;
         font-weight: bold;
         color: $darkGreen;
         line-height: 22px;
      }
   }
   .arrow_from {
      display: inline-block;
      width: 200px;
      margin: 0 40px;
   }
   .delivery_date,
   .desired_date {
      font-weight: 600;

      #delivery_date,
      #desired_date {
         display: inline-block;
         margin-left: 10px;
      }
   }
   .sender,
   .recepient {
      display: inline-block;
      width: 450px;
      background-color: #FFF;
      border: 1px solid $lightGrey;
      padding: 10px;
      margin-right: 5px;
      margin-bottom: 10px;
      vertical-align: top;

      .name {
         display: inline-block;
         text-transform: uppercase;
         font-style: italic;
         font-size: 14px;
         font-weight: 600;
         margin-right: 10px;
      }
   }
   .info_cargo_block {
      width: 910px;
      display: block;
      background-color: #FFF;
      border: 1px solid $lightGrey;
      padding: 10px;

      div {
         margin: 10px 5px;
         display: inline-block;

         #cargo_name {
            width: 288px;
         }
         #order_temperature {
            width: 288px;
            background-color: #FFF;
         }
         #order_danger {
            width: 270px;
            background-color: #FFF;
         }
         #cargo_price {
            width: 200px;
         }
         #cargo_method {
            min-width: 170px;
         }
         #cargo_value {
            width: 120px;
         }
         #payment_type {
            width: 288px;
            background-color: #FFF;
         }
         #payer_type {
            width: 170px;
         }
         .body_info_cargo_elem {
            width: 100px;
         }
         .head_info_cargo {
            display: block;
            font-weight: 600;
            font-size: 14px;
            font-style: italic;
            text-transform: uppercase;
         }
         .body_info_cargo {
            display: inline-block;
            height: 35px;
            float: left;
            background-color: $bgBody;
            padding: 3px 10px;
            border: 1px solid $lightGrey;
         }
      }
   }
   .order_num_carrier {
      font-weight: 600;
      font-size: 18px;
      margin: 20px 0;

      #order_num_carrier {
         display: inline-block;
         margin: 0 5px;
      }
   }
   .carrier {
      font-weight: 600;
      font-size: 18px;
      margin: 20px 0;

      #carrier {
         display: inline-block;
         margin: 0 5px;
      }
   }

   .costPayment {
      display: inline-block;
      width: 450px;
      background-color: #FFF;
      border: 1px solid $lightGrey;
      padding: 10px;
      margin-right: 5px;
      margin-top: 10px;
      vertical-align: top;
      text-align: center;

      .paymentBlock {
         display: inline-block;
         width: 180px;
         margin: 7px;
         text-align: center;

         &__name {
            display: block;
            font-weight: 600;
         }
         &__input {
            background-color: $bgBody;
            padding: 3px 5px;
            border: 1px solid $lightGrey;
            width: 90px;
            text-align: center;
         }
      }
   }

   .statusBlock {
      display: inline-block;
      background-color: #FFF;
      border: 1px solid $lightGrey;
      padding: 10px;
      margin-top: 10px;
      vertical-align: top;

      .status {
         margin-bottom: 10px;

         &__name {
            display: inline-block;
            width: 190px;
            font-weight: 600;

            .name_desc {
               display: inline-block;
               width: 130px;
            }
         }
         &__icon {
            display: inline-block;
            position: relative;
            top: 8px;
            width: 25px;
            height: 25px;
            margin-left: 5px;
         }

         #status_order,
         #status_payment {
            width: 235px;
         }
      }
   }

   .buttons_block {
      margin-top: 30px;

      .btn-custom {
         margin-right: 50px;
      }
   }
}